.login-modal {
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    background: #ffffff;
    width: 520px;
    height: 712px;
}

.title {
    border-bottom: 1px solid #C4C4C4;
    text-align: center;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 0 18px 0;
}

.modal-close-button {
    float: right;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin-right: 24px;
}
.modal-close-button::after {
    display: block;
    content: '';
    height: 16px;
    width: 16px;
    background-image: url("../img/close.png");
}

.other_account {
    display: block;
    border: 1px solid;
    margin: 5px;
}