/* 직접 셀렉트 박스 만들기 */
html {
    font-size: 10px;
}

h2 {
    margin: 3rem auto;
}
.btn-select {
    margin: 0 auto;
    position: relative;
    padding: 0 13px;
    width: 20rem;
    height: 4rem;
    background: #FFFFFF url("../img/icon-Triangle-down.png") no-repeat center right 14px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    justify-content: space-between;
    align-items: center;
}
.btn-select.on {
    border: 1px solid #9B51E0;
    background: #FFFFFF url("../img/icon-Triangle-up.png") no-repeat center right 14px;
}

.list-member {
    display: none;
    position: absolute;
    width: 20rem;
}

.list-member.on {
    display: block;
}

.btn-select.on+.list-member {
    display: block;
}

.list-member li {
    height: 3rem;
    width: 20rem;
}

.list-member li button {
    display: block;
    background-color: #fff;
    border: 1px solid black;
    border-top: none;
    cursor: pointer;
}

.list-member li button:hover {
    background-color: bisque;
}